/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  background: #e5e5e5;
}

.ui-panelmenu.ui-widget {
  // width: 250px;
  // display: inline-block;
  height: 95vh;
  background: #eaeaea;
}

body .ui-breadcrumb, .ui-card {
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) !important;
  border: none;
}

.padding-0 {
  padding: 0
}

.border-rdx {
  border: 1px solid #cccc;
  background: #fff;
}

body .ui-panelmenu .ui-panelmenu-header > a {
  border: 1px solid #fff;
  background-color: #fff;
  color: #6c7778;
  font-weight: 550;
}